.item-card img {
    width: 20px;
    height: auto;
}

.item-card h3 {
    font-weight: bold;
}

.item-card{
    margin-top: 2vh;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    animation-name: none;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: transparent;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1px;
    border: 2px solid aqua;
    transition: 0.3s;
    transition-delay: 0.2s;
}
.item-card:hover{
  transform: scale(1.01, 1.01);
  border-radius: 15px;
  box-shadow: 0 0 50px aqua;
}

.item-card button {
    background-color: aqua;
    color: white;
}

.item-card button:hover {
    cursor: pointer;
    background-color: white;
    color: aqua;
}